* {
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, sans-serif;
}
.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.nav-link-item {
	text-decoration: none;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.87);
}
.nav-link-item:hover {
	text-decoration: underline;
}
.menu,
.nav-link-item,
.profile-pic {
	padding: 7px;
	margin: 7px 3px;
}
#menu-items {
	width: 280px;
	height: 500px;
	padding: 28px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	right: 15px;
	top: 55px;
	display: none;
	overflow-y: scroll;
	overflow-x: hidden;
}
.profile-pic {
	border-radius: 50%;
	margin-right: 8px;
}
#dropdown-menu {
	cursor: pointer;
	padding: 4px;
	color: #7e7e7e;
}
.menu-icon:hover {
	border: 0px solid #ebe8e8;
	border-radius: 50%;
	background: #ebe8e8;
	opacity: 1;
}
.menu:hover #menu-items{
	display: block;
}
.main-content {
	margin-top: 65px;
}
.item {
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}
.item1{
	margin-bottom: 20px;
}
.btn {
	background: #5f6368;
	font-size: 14px;
	height: 36px;
	padding: 0 16px;
	background-color: #fafafa;
	border: 1px solid transparent;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
	color: #222;
	margin: 0 5px;
	border-radius: 5px;
	outline: none;
}
.btn:hover {
	cursor: pointer;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #222;
	border-radius: 5px;
	outline: none;
}
.search-bar {
	width: 550px;
	color: #222;
	border: 1px solid #dfe1e5;
	font-size: 12px;
	padding: 14px;
	border-radius: 24px;
	outline: none;
}
.search-bar:hover,
.search-bar:focus {
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	outline: none;
}
.menu-item{
	display: inline-block;
	width: 84px;
	padding: 8px 2px;
	text-align: center;
	margin: 1px;
}
.menu-item:hover{
	background: #edf5ff;
	border-radius: 5px;
}
.menu-item > img {
	width: 50px;
	height: 50px;
}
.menu-item > p {
	color: rgba(0, 0, 0, 0.87);
}
.search-item{
	position: relative;
}
.search-logo{
	position: absolute;
	top: 10px;
	right: 15px;
	width: 23px;
	height: 23px;
}
::-webkit-scrollbar {
	display: none;
}
.footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.footer-link, .country{
	text-decoration: none;
	font-size: 14px;
	color: rgba(111, 111, 111, 0.87);
	padding: 0px 15px;
}
.footer-link:hover{
	text-decoration: underline;
}
.country{
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(206, 206, 206, 0.87);
	height: 43px;
	width: 100%;
	padding: 5px 30px;
	background: rgba(241, 241, 241, 0.938);
}
.footer-links{
	height: 43px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(241, 241, 241, 0.938);
}
.left-links{
	padding-left: 20px;
}
.center-text{
	text-align: center;
	height: 100px;
}
.msg{
	font-size: 13px;
	margin: 35px;
}
.msg-link{
	text-decoration: none;
	color: rgb(49,54,179);
	padding: 0px 3px;
}
.msg-link:hover{
	text-decoration: underline;
}